#Environments
projenv/
env/
.env/
.projenv/

# Byte-compiled / optimized / DLL files
__pycashe__/
*.py[cod]
*$py.class

#IDE / Editor
.vscode/
.idea/


#Flask session
.flask_session/


#Database
instance/