{% extends "base.html" %}
{% block title %}Staff | Trek Details {% endblock %}
{% block content %}
<div class="border rounded-3 bg-info p-3 mb-3  d-flex align-items-center justify-content-between">
    <h2 class="fs-2 fw-bold"> # {{ trek.name }}</h2>
    <form action="{{ url_for('staff.assigned_trek_details' , t_id=trek.trek_id ) }}" method="POST">
            <button type="submit" name="status" value="Open" class="btn btn-success">Mark as Started</button>           
            <button type="submit" name="status" value="Closed" class="btn btn-warning">Mark as Closed</button>
            <button type="submit" name="status" value="Completed" class="btn btn-danger">Mark as Completed</button>
         </form>
</div>

<div class="form-panel pb-1 mb-3">
    <div class="py-1 border-bottom d-flex align-items-center justify-content-between">
         <h2 class="mb-1 fs-2 fw-bold" style="color: var(--accent-pale)"> Trek Information</h2>

         
    </div>
    <form action="{{ url_for('staff.assigned_trek_details' , t_id=trek.trek_id) }}" method="POST">
        <div class="row py-3">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="tname">Location</label>
                    <h6>{{ trek.location }}</h6>
                </div>
                 <div  class="form-group">
                    <label for="duration">Duration(Days)</label>
                    <h6>{{ trek.duration }}</h6>
                </div>
                <div class="form-group">
                    <label for="start_date">Start Date</label>
                    <h6>{{ trek.start_date }}</h6>
                </div>
                <div class="form-group">
                    <label for="end_date">End Date</label>
                     <h6>{{ trek.end_date }}</h6>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <h6>{{ trek.status }}</h6>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group" >
                    <label for="difficulty">Difficulty</label>
                    <h6>{{ trek.difficulty }}</h6>
                </div>
                <div  class="form-group">
                    <label for="total_slots">Total Slorts</label>
                    <h6>{{ trek.total_slots }}</h6>
                </div>
                <div class="form-group">
                    <label for="avl_slots">Available Slorts</label>
                    <input type="number" class="form-control w-25 m-auto text-center" name="avl_slots" id="avl_slots"  value="{{ trek.avl_slots }}" min="0" required>
                </div>
                <div class="form-group ">
                    <label for="curr_slots">Current</label>
                    <h6>{{ trek.avl_slots }}/{{ trek.total_slots }}</h6>
                </div>
            </div>
            
        </div>
        <div class="d-flex justify-content-center gap-2 mb-3">
            <button type="submit" class="btn btn-primary w-auto ">Update</button>
            <a href="{{ url_for('staff.staff_dashboard' ) }}" class="btn btn-outline-danger w-auto ">Cancel</a>
        </div>
    </form>
</div>
    
<div class="table-panel">
    <div  class="p-3 border-bottom d-flex justify-content-between align-items-center mt-2" >
        <h2 class="fs-2 fw-bold p-1">Participant Details</h2>
    </div>    
    <table class="table">
        <thead >
            <tr>
                <th>S.No</th><th>Participant Name</th><th>Email</th><th>Booking Date</th><th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in ass_trek_bookings %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ booking.user.fullname }}</td>      
                <td>{{ booking.user.email }}</td>     
                <td>{{ booking.booking_date.strftime('%Y-%m-%d') }}</td>
                <td>{{ booking.status }}</td>
            </tr>
            {% else %}
            <tr><td colspan="5" class="text-muted text-center"><h5>No Trekker Booked this trek yet!</h5></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}