{% extends "base.html" %}
{% block title %}Add Staff{% endblock %}
{% block content %}
<div class="page-heading">
  <h2>Add New Staff</h2>
  <p>Create a new trek staff member account</p>
</div>

<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="form-panel ">
    <div class="py-1 border-bottom d-flex justify-content-center align-items-center">
        <h2 class="mb-0 fs-2 fw-bold" style="color: var(--accent-pale)">Add New Staffs</h2>
    </div>
      <form method="POST" action="{{ url_for('admin.add_staff') }}" class="py-2">
        <div class="mb-3 form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3 form-group">
          <label  for="fullname">Full Name</label>
          <input type="text" class="form-control" id="full_name" name="fullname" required>
        </div>
        <div class="mb-3 form-group">
          <label  for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3 form-group">
          <label  for="phone_no">Phone</label>
          <input type="text"  id="phone" name="phone_no" maxlength="10" required>
        </div>
        <div class="mb-3 form-group">
          <label  for="password">Password</label>
          <input type="password"  id="password" name="password"  required>
        </div>
        <div class="mb-3 form-group">
          <label  for="fpassword">Confirm Password</label>
          <input type="password" id="password" name="fpassword"  required>
        </div>
        <div class="mb-3 form-group">
          <label for="qualification">Qualification / Expertise</label>
          <textarea  id="bio" name="qualification" rows="3"></textarea>
        </div>
        <div class="d-flex gap-2 mt-5 mb-1 form-group justify-content-center">
          <button type="submit" class="btn btn-primary">Add Staff</button>
          <a href="{{ url_for('admin.find_staff') }}" class="btn btn-outline-danger">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}