{% extends "base.html" %}
{% block title %}Admin | Manage Treks{% endblock %}
{% block content %}
<div class="page-heading d-flex justify-content-between align-items-center">
  <div>
    <h2>Manage Staffs</h2>
    <p>Create, edit, and manage all Staffs </p>
  </div>
</div>

<form method="GET" action="{{ url_for('admin.find_staff') }}" class="d-flex mb-3" style="max-width: 400px;">
<input type="text" username="s" user_id="s" value="{{ s }}" class="form-control me-2" placeholder="Search by Staff Name or ID...">
<button class="btn btn-outline-custom" type="submit">Search</button>
</form>

<div class="table-panel">
  <div class="p-3 border-bottom d-flex justify-content-between align-items-center">
        <h6 class="mb-0 fw-bold" style="color: purple;">Staff</h6>
        <a href="{{ url_for('admin.add_staff' ) }}" class="btn btn-sm btn-accent ">+ Add Staff</a>
      </div>
  <div class="control-table">
    <table class="table">
      <thead>
        <tr><th>ID</th><th>Username</th><th>Full Name</th><th>Email</th><th>Phone</th><th>status</th><th>Actions</th></tr>
      </thead>
      <tbody>
      {% for st in staff %}
      <tr>
        <td>{{ st.user_id }}</td>
        <td class="fw-semibold">{{ st.username }}</td>
        <td>{{ st.fullname }}</td>
        <td>{{ st.email }}</td>
        <td>+91 {{ st.phone_number }}</td>
        <td class="fw-semibold">{{ st.status|lower }}</td>
        <td>
          <a href="" class="btn btn-sm btn-outline-custom me-1">Edit</a>
          <form method="POST" action="" class="d-inline"
                onsubmit="return confirm('Delete this Staff?')">
            <button class="btn btn-sm btn-outline-danger">Delete</button>
          </form>
        </td>
      </tr>
      {% else %}
      <tr><td colspan="7" class="text-muted text-center"><h5>No Staff Added Yet!</h5><p>Add Staffs to get started.</p></td></tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}