<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

    <div class="app-title">Trekking Management Application</div>
    <form>
    <div class="input-form">
        <div class="page-heading-box">Register</div>
        <div class="form-box">
        <input type="text" name="fname" placeholder="Full Name" >
        <input type="email" name="email" placeholder="Email" >
        <input type="password" name="password" placeholder="Password" >
        <input type="password" name="fpassword" placeholder="Confirm Password" >
        <textarea name="address" id="" placeholder="Address" style="height: 45px;width: 200px; resize:none;margin: 0 auto;  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); border: solid black 1px; border-radius: 4px; padding: 5px;"></textarea>
        <p style="margin: auto; font-size: small;">Select User Type</p>
        <select class="dropdown-content" name="user-type" id="">
            <option value="" disabled selected hidden>Choose User Type</option>
            <option value="Trek Staf">Trek Staf</option>
            <option value="Trekker">Trekker</option>
        </select>
         <button >Sign up</button>
        </div>
    <p style="display:inline-block;font-size:13px; padding-left: 50px ;">Already have account?</p><a href="Login.html" style="font-size: medium; text-decoration: none;">Login here</a>
   
        
     
    </div>
    </form>


</body>
</html>