
{% extends "base.html" %}
{% block title %} {{ session.get('username','')}} | Trek Bookings {% endblock %}
{% block content%}
<span class="p-2 rounded-3 bg-secondary "><a href="{{ url_for('user.user_dashboard' ) }} " class=" text-decoration-none text-white"> Go Back </a></span>
<div class="table-panel mt-4">
    <div  class="p-3 border-bottom d-flex justify-content-between align-items-center mt-2" >
        <h2 class="fs-2 fw-bold p-1">My Bookings</h2>
    </div>  
    <table class="table">
        <thead>
          <tr>
            <th>Sl.No</th><th>Trek Name</th><th>Booking Date</th><th>Starting Date</th><th>Status</th><th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for b,t in my_bookings %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ t.name  }}</td>
            <td>{{ b.booking_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ t.start_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ b.status }}</td>
            <td> 
                {% if b.status == 'Booked' %}
                <div></div>
                <a href="{{ url_for('user.book_trek_details', t_id=t.trek_id  ) }}" class="btn btn-outline-custom me-2">view details</a>
                <form method="POST" action="{{ url_for('user.cancel_booking', b_id=b.booking_id) }}" class="d-inline"
                        onsubmit="return confirm('Cancel this booking?')">
                    <button class="btn btn-sm btn-outline-danger">Cancel</button>
                </form>
                {% else %}—{% endif %} 
            </td>
          </tr>
          {% else %}
          <tr>
            <td colspan="6" class="text-center text-muted">
              <h5 class="row-msg">No bookings Yet!.</h5>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}