{% extends "base.html" %}
{% block title %} {{ session.get('username','')}} | Trek-History {% endblock %}
{% block content%}
<span class="p-2 rounded-3 bg-secondary "><a href="{{ url_for('user.user_dashboard' ) }} " class=" text-decoration-none text-white"> Go Back </a></span>
<div class="table-panel mt-4">
    <div  class="p-3 border-bottom d-flex justify-content-between align-items-center mt-2" >
        <h2 class="fs-2 fw-bold p-1">Trek History</h2>
    </div>  
    <table class="table">
        <thead>
          <tr>
            <th>Sl.No</th><th>Trek Name</th><th>Duration Dates</th><th>Completed Date</th><th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for b,t in trek_history %}
          <tr> 
            <td>{{ loop.index }}</td>
            <td>{{ t.name  }}</td>
            <td>{{ t.start_date.strftime('%Y-%m-%d')}} -to- {{t.end_date.strftime('%Y-%m-%d')}}</td>
            <td>{{ t.end_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ b.status }}</td>
          </tr>
          {% else %}
          <tr>
            <td colspan="5" class="text-center text-muted">
              <h5>No bookings Yet!.</h5>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}