{% extends "base.html" %}
{% block title %} {{ session.get('username','')}} | Dashboard{% endblock %}
{% block content%}

<div class="page-heading">
    <h2>Welcome!, {{ session.get('username','')}}</h2>
</div>

<div class="row g-5 mb-4">
  <div class="col-lg-4">
    <div class="data-card ">
      <div class="d-flex align-items-center justify-content-center"><div class="data-label ">Total Bookings </div></div>
      <div class="data-output">{{ my_details.total_bookings }}</div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="data-card ">
      <div class="d-flex align-items-center justify-content-center"><div class="data-label ">Active Treks</div></div>
      <div class="data-output">{{ my_details.active }}</div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="data-card ">
      <div class="d-flex align-items-center justify-content-center"><div class="data-label ">Compelted Treks</div></div>
      <div class="data-output">{{ my_details.completed }}</div>
    </div>
  </div>
</div>
<div  class="d-flex justify-content-end mt-4 mb-1 " >
          <form class="d-flex flex-wrap align-items-center gap-4" action="{{ url_for('user.user_dashboard' ) }}" method="GET">
          <div class="d-flex align-items-center gap-2">
              <strong for="difficulty">Difficulty Level :</strong>
              <select name="difficulty" id="difficulty"  class="form-select w-auto">
                <option value="">-All-</option>
                <option value="Easy" {% if request.args.get('difficulty') == 'Easy' %}selected{% endif %}>Easy</option>
                <option value="Moderate" {% if request.args.get('difficulty') == 'Moderate' %}selected{% endif %}>Moderate</option>
                <option value="Hard" {% if request.args.get('difficulty') == 'Hard' %}selected{% endif %}>Hard</option>
              </select>
          </div>
          <div class="d-flex align-items-center gap-2">
            <strong for="location">Locations :</strong>
            <select name="location" id="location"  class="form-select w-auto">
              <option value="">-All-</option>
              {% for loc in all_avl_location %}
                  <option value="{{ loc }}" {% if request.args.get('location') == loc %}selected{% endif %}>{{ loc }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="d-flex align-items-center gap-2">
            <button type="submit" class="btn btn-sm btn-primary text-nowrap">Search</button>
            <a href="{{ url_for('user.user_dashboard') }}" class="btn btn-sm btn-secondary text-nowrap">Clear Filters</a>
         </div>
    </form>
</div>
<div class="table-panel my-3">
    <div  class="p-1 d-flex justify-content-start align-items-center mt-2" >
        <h2 class="fs-2 fw-bold px-2 py-3">Available Treks</h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Sl.No</th><th>Trek Name</th><th>Location</th><th>Difficulty</th><th>Duration</th><th>Available Slots</th><th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for t in avl_treks %}
            <tr>
              <td>{{ loop.index }}</td>
            <td>{{ t.name }}</td>
            <td>{{ t.location }}</td>
            <td>{{ t.difficulty }}</td>
            <td>{{ t.duration }} days</td>
            <td>{{ t.avl_slots }}</td>
            <td><a href="{{ url_for('user.book_trek_details', t_id=t.trek_id ) }}" class="btn btn-primary ">Book Now</a></td>
            </tr>

            {% else %}
            <tr>
                <td colspan="6" class="text-muted text-center py-4">
                  <h5>No Available Treks Yet!</h5>
                  <p>Apply the Filter to find desired trek.</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  
</div>

<div class="table-panel">
    <div  class="p-3 border-bottom d-flex justify-content-between align-items-center mt-2" >
        <h2 class="fs-2 fw-bold p-1">My Bookings</h2>
    </div>  
    <table class="table">
        <thead>
          <tr>
            <th>Sl.No</th><th>Trek Name</th><th>Booking Date</th><th>Starting Date</th><th>Status</th><th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for b,t in my_bookings %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ t.name  }}</td>
            <td>{{ b.booking_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ t.start_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ b.status }}</td>
            <td> <a href="#" class="btn btn-outline-custom">view details</a> </td>
          </tr>
          {% else %}
          <tr>
            <td colspan="6" class="text-center text-muted">
              <h5>No bookings Yet.</h5>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}